<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Config>
  <Appid>wx1d636047025b7134</Appid>
  <Secret>ef1568c4ad06165f7a165ac9bd03639e</Secret>
  <Authorize_Url></Authorize_Url>
  <PayKey>done2600230done2600230done260023</PayKey>
  <AccessToken>Pwt_LLcDwtYNqn1s7biqMq892aHrDctxp1-X46vHjqofUPmFdHMkMJju2ojTaZJVOjqn6NXe4jU5u1iNyEPBw07uxyKarCB8_WHO74-pBdUQ2vUZke3dR2NUHU8ZCpWRAZYiAHATSR</AccessToken>
  <AccessToken_Expire>2016/9/29 19:54:14</AccessToken_Expire>
  <JsTicket>sM4AOVdWfPE4DxkXGEs8VG0tis-of0jX19kI7H1rbwNE4BxsBvSrGGptPfqucgJ-9Go412D3AaUFPGAPpxyoIg</JsTicket>
  <JsTicket_Expire>2016/9/25 20:39:36</JsTicket_Expire>
  <Mch_id>1228375502</Mch_id>
  <PayKey></PayKey>
</Config>